<div class="form-widget">
    {% for image in field.value %}
        <div>
            <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-{{ image.id }}">
                <img src="/uploads/images/{{ image.image }}" style="{{ (image.isAvatar) ? 'border: #6174d1 solid 1px;margin-top: 4px;' : 'margin-top: 4px' }}">
            </a>

            <div id="ea-lightbox-{{ image.id }}" class="ea-lightbox">
                <img src="/uploads/images/{{ image.image }}">
            </div>
        </div>
    {% endfor %}
</div>