<div class="form-widget">
            {% for characteristic in field.value %}
                    <ul class="list-group list-group-horizontal-sm float-start" style="margin-right: 10px; margin-top: 2px">
                            <li class="list-group-item list-group-item-warning">{{ characteristic.name }}</li>
                            <li class="list-group-item">{{ characteristic.value }}</li>
                    </ul>
            {% endfor %}
</div>