<div class="form-widget">
    {% if field.value is empty %}
        <div><span class="badge badge-secondary">0</span></div>
    {% else %}
            {% set mainImage = field.value[0] %}

            {% set break = false %}
            {% for image in field.value %}
                    {% if image.isAvatar and break == false %}
                            {% set mainImage = image %}
                            {% set break = true %}
                    {% endif %}
            {% endfor %}

            <div>
                    <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-{{ mainImage.id }}">
                            <img src="/uploads/images/{{ mainImage.image }}" style="{{ (mainImage.isAvatar) ? 'border: #6174d1 solid 1px;margin-top: 4px;' : 'margin-top: 4px' }}">
                    </a>

                    <div id="ea-lightbox-{{ mainImage.id }}" class="ea-lightbox">
                            <img src="/uploads/images/{{ mainImage.image }}">
                    </div>

                    <div style="margin-top: 5px">Всего: <span class="badge badge-secondary">{{ field.value|length }}</span></div>
            </div>
    {% endif %}
</div>