<div class="form-widget">
    {% for car in field.value %}
        <ul class="list-group list-group-horizontal-sm float-start" style="margin-right: 10px; margin-top: 2px">
            <li class="list-group-item list-group-item-light">{{ car }}</li>
        </ul>
    {% endfor %}
</div>