{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Добро пожаловать в Admin Panel' %}

{% block main %}
    <p>
        <strong>Краткое описание функционала</strong>
    </p>

    <p>
        <ul>
            <li>Добавить машину с минимальной информацией о ней</li>
            <li>Добавить изображения машины</li>
            <li>Выбрать аватар машины из загруженных изображений</li>
            <li>Удалить изображения</li>
            <li>Удалить машину</li>
        </ul>
    </p>
{% endblock %}
