{% extends 'base.html.twig' %}

{% block title %}WWM{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" id="style_sheet" href="{{ asset('css/skins/' ~ Theme ~ '.css') }}">
        <link rel="stylesheet" type="text/css" id="style_sheet" href="{{ asset('css/new/homepage.css') }}">
    </head>

<!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
<!-- Sidenav end -->

<!-- Banner start -->
    {% include "bundles/sub_banner.html.twig" with { 'MenuSection': '' } %}
<!-- Banner end -->

<!-- Search box 2 start -->
    {% include "bundles/search-box.html.twig" with { 'CarsItem': CarsItem } %}
<!-- Search box 2 end -->

<!-- Featured car start -->
<div  class="featured-car content-area" id="content-area">
    <div class="container-fluid">
        <!-- Main title -->
        <div class="main-title">
            <h1>Новинки</h1>
            <p>Самые новые поступления у нас</p>
        </div>
        <div class="row">
            <div id="carouseNew" class="container-fluid carousel" style="background: lightgrey">

                {% set increment = 0 %}
                {% for Car in Cars %}
                {% if Car.getStatus == 2 %}

                {% if increment%3 == 0 and increment != 0 %}
            </div>
        </div>
        {% endif %}

        {% if increment%3 == 0 %}
        <div class="container carousel-item {{ (increment == 0) ? 'active' : '' }}">
            <div class="row">
                {% endif %}

                {% set increment = increment+1 %}
                {% include "bundles/car_box/homepage.html.twig" with { 'Car': Car } %}
                {% endif %}
                {% endfor %}

                {% if increment != 0 %}
            </div>
        </div>
        {% set increment = 0 %}
        {% endif %}

        <a class="carousel-control-prev" href="#carouseNew" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carouseNew" data-slide="next">
            <span  class="carousel-control-next-icon"  ></span>
        </a>
    </div>
    <div  class="container-fluid" >
        <!-- Main title -->
        <div class="main-title">
            <h1>Премиум авто</h1>
            <p>Лучшие авто мировых и имиджевых марок</p>
        </div>
        <div class="row">
            <div id="carousePrem" class="container-fluid carousel" style="background: lightgrey">

                    {% set increment = 0 %}
                    {% for Car in Cars %}
                        {% if Car.getStatus == 4 %}

                            {% if increment%3 == 0 and increment != 0 %}
                                </div>
                                </div>
                            {% endif %}

                            {% if increment%3 == 0 %}
                                <div class="container carousel-item {{ (increment == 0) ? 'active' : '' }}">
                                    <div class="row">
                            {% endif %}

                            {% set increment = increment+1 %}
                            {% include "bundles/car_box/homepage.html.twig" with { 'Car': Car } %}
                        {% endif %}
                    {% endfor %}

                    {% if increment != 0 %}
                        </div>
                        </div>
                    {% set increment = 0 %}
                    {% endif %}

        <a class="carousel-control-prev" href="#carousePrem" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousePrem" data-slide="next">
            <span  class="carousel-control-next-icon"  ></span>
        </a>
    </div>
    <div class="container-fluid">
        <!-- Main title -->
        <div class="main-title">
            <h1>В тренде</h1>
            <p>Популярно в мире</p>
        </div>
        <div class="row">
            <div id="carouseTrend" class="container-fluid  carousel" style="background: lightgrey">

                    {% set increment = 0 %}
                    {% for Car in Cars %}
                    {% if Car.getStatus == 1 %}

                    {% if increment%3 == 0 and increment != 0 %}
                        </div>
                    </div>
                    {% endif %}

            {% if increment%3 == 0 %}
            <div class="container carousel-item {{ (increment == 0) ? 'active' : '' }}">
                <div class="row">
                    {% endif %}

                    {% set increment = increment+1 %}
                    {% include "bundles/car_box/homepage.html.twig" with { 'Car': Car } %}
                    {% endif %}
                    {% endfor %}

                    {% if increment != 0 %}
                </div>
            </div>
            {% set increment = 0 %}
            {% endif %}

        <a class="carousel-control-prev" href="#carouseTrend" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carouseTrend" data-slide="next">
            <span  class="carousel-control-next-icon"  ></span>
        </a>
    </div>
    <div class="container-fluid">
        <!-- Main title -->
        <div class="main-title">
            <h1>Популярные</h1>
            <p>Выбор наших клиентов</p>
        </div>
        <div class="row">
            <div id="carousePopular" class="container-fluid carousel" style="background: lightgrey">

                    {% set increment = 0 %}
                    {% for Car in Cars %}
                    {% if Car.getStatus == 3 %}

                    {% if increment%3 == 0 and increment != 0 %}
                </div>
            </div>
            {% endif %}

            {% if increment%3 == 0 %}
            <div class="container carousel-item {{ (increment == 0) ? 'active' : '' }}">
                <div class="row">
                    {% endif %}

                    {% set increment = increment+1 %}
                    {% include "bundles/car_box/homepage.html.twig" with { 'Car': Car } %}
                    {% endif %}
                    {% endfor %}

                    {% if increment != 0 %}
                </div>
            </div>
            {% set increment = 0 %}
            {% endif %}

        <a class="carousel-control-prev" href="#carousePopular" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousePopular" data-slide="next">
            <span  class="carousel-control-next-icon"  ></span>
        </a>
    </div>
</div>
<!-- Featured car end -->

<!-- Footer start -->
    {% include "bundles/footer.html.twig" %}
<!-- Footer end -->

{% endblock %}