{% extends 'base.html.twig' %}

{% block title %}WWM{% endblock %}

{% block body %}

<!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
<!-- Sidenav end -->
    <!-- Sidenav start -->

    <!-- Sidenav end -->

<!-- Banner start -->
    {% include "bundles/sub_banner.html.twig" with { 'MenuSection': '' } %}
<!-- Banner end -->

<!-- Search box 2 start -->
    {% include "bundles/input-search-box.html.twig" %}
<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->

        {% if Cars is empty %}
            <div class="main-title">
                <h1>По вашему запросу ничего не найдено</h1>
            </div>
        {% else %}
            <div class="main-title">
                {% set size = Cars | length %}
                <h1>Найдено {{ size }} результатов</h1>
            </div>
            <div class="row">
                {% for Car in Cars %}
                    {% include "bundles/car_box/homepage.html.twig" with { 'Car': Car } %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<!-- Featured car end -->

<!-- Footer start -->
    {% include "bundles/footer.html.twig" %}
<!-- Footer end -->

{% endblock %}