{% extends 'base.html.twig' %}
{% block title %}Car Details{% endblock %}
{% block body %}
    <head>
        <script src="{{ asset('js/jquery-2.2.0.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" id="style_sheet" href="{{ asset('css/skins/' ~ Theme ~ '.css') }}">
        <link rel="stylesheet" type="text/css" id="style_sheet" href="{{ asset('css/new/car-details.css') }}">
    </head>
<!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
<!-- Sidenav end -->

<!-- Sub banner start -->
    {% include "bundles/sub_banner.html.twig" with { 'MenuSection': '' } %}
<!-- Sub Banner end -->

<!-- Car details page start -->
<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">
                        <div class="pull-left">
                            <h3>{{ Car.getBrand }} {{ Car.getModel }} {{ Car.getEquipment }}</h3>
                        </div>
                        <div class="pull-right">
                            <div class="price-box-3">{{ (Car.getPrice == 0) ? 'Цену уточняйте' : '$'~Car.getPrice }}</div>
                        </div>
                    </div>

                    <!-- carDetailsSlider start -->
                    <div id="carDetailsSlider" class="carousel slide">
                        <div class="carousel-inner">
                            {% if Car.getImages is empty %}
                            <div class="active item carousel-item" data-slide-number="0">
                                <div class="carousel-item active">
                                    <img src="{{ asset('img/car/car-5.png') }}" alt="Los Angeles" width="100%" height="100%">
                                    <div class="carousel-caption">
                                        <h3>{{ Car.getBrand }}</h3>
                                        <p style="color: whitesmoke">{{ Car.getModel }}</p>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            {% for image in Car.getImages %}
                                <div class="carousel-item {{ (loop.index0 == 0) ? 'active' : '' }}">
                                    <img src="{{ asset(upload_images_dir ~ '/' ~ image.getImage) }}" alt="Los Angeles" width="100%" height="100%">
                                    <div class="carousel-caption">
                                        <h3>{{ Car.getBrand }}</h3>
                                        <p style="color: whitesmoke">{{ Car.getModel }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}

                        </div>
                        <a class="carousel-control-prev" href="#carDetailsSlider" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#carDetailsSlider" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>

                    <!-- Advanced search start mobile -->
                    <div class="widget-2 advanced-search bg-grea-2 as-2">
                        <h3 class="sidebar-title">Детали</h3>
                        <div class="s-border"></div>
                        <div class="m-border"></div>
                        <ul>
                            <li><span>Призводитель</span>{{ Car.getBrand }}</li>
                            <li><span>Модель</span>{{ Car.getModel }}</li>
                            <li><span>Год</span>{{ Car.getYear }}</li>
                            <li><span>Цвет</span>{{ Car.getColor }}</li>
                            <li><span>Запас хода</span>{{ Car.getPowerReserve }} км</li>
                            <li><span>Емкость батареи</span>{{ Car.getBatteryCapacity }} кВч</li>
                        </ul>
                    </div>

                    <div class="tabbing tabbing-box mb-40">
                        <ul class="nav nav-tabs" id="carTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="6-tab" data-toggle="tab" href="#6" role="tab" aria-controls="6" aria-selected="true">Технические характеристики</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Описание</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="car-description mb-50">
                                    <h3 class="heading-2">
                                        Описание
                                    </h3>
                                    <p><span class="textarea" role="textbox" contenteditable>{{ Car.getDescription }}</span></p>
                                </div>
                            </div>

                            <div class="tab-pane fade active show" id="6" role="tabpanel" aria-labelledby="6-tab">
                                <div class="car-amenities mb-30">
                                    <h3 class="heading-2">Технические характеристики</h3>

                                    <div class="row">
                                    {% for characteristic in Car.characteristics|slice(0, 15) %}
                                        {% if loop.index0 % 5 == 0 and loop.index0 == 0  %}
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <ul class="amenities">
                                        {% endif %}
                                        <li>
                                            <i class="fa fa-check"></i>{{ characteristic.name }}: {{ characteristic.value }}
                                        </li>
                                        {% if loop.index%5 == 0  and loop.index0 != 0 %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if loop.index % 5 == 0 and loop.index0 != 0  %}
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <ul class="amenities">
                                        {% endif %}
                                    {% endfor %}
                                    {% set size = Car.characteristics | length %}
                                    {% if size > 0 %}
                                                </ul>
                                            </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <div class="widget advanced-search d-none-992">
                        <h3 class="sidebar-title">Детали</h3>
                        <div class="s-border"></div>
                        <div class="m-border"></div>
                        <ul>
                            <li><span>Призводитель</span>{{ Car.getBrand }}</li>
                            <li><span>Модель</span>{{ Car.getModel }}</li>

                            <li><span>Год</span>{{ Car.getYear }}</li>
                            <li><span>Цвет</span>{{ Car.getColor }}</li>
                            <li><span>Запас хода</span>{{ Car.getPowerReserve }} км</li>
                            <li><span>Емкость батареи</span>{{ Car.getBatteryCapacity }} кВч</li>
                        </ul>
                    </div>

                    <div class="widget question">
                        {% include "bundles/questions.html.twig" %}
                    </div>
                    <!-- Financing calculator start -->
                </div>
            </div>
        </div>
        {% if Car.relatedCars is not empty or Car.carsWithCurrent is not empty %}

                <h3 class="heading-2">Рекомендации для Вас</h3>

        {% endif %}
        <div class="row">
                {% if Car.relatedCars is not empty %}
                    {% for relatedCar in Car.relatedCars|slice(0, 6) %}
                        {% if relatedCar.id != Car.id %}
                            {% include "bundles/car_box/related.html.twig" with { 'Car': relatedCar } %}
                        {% endif %}
                    {% endfor %}
                {% elseif Car.carsWithCurrent is not empty %}
                    {% for relatedToCar in Car.carsWithCurrent %}
                        {% if relatedToCar.id != Car.id %}
                            {% include "bundles/car_box/related.html.twig" with { 'Car': relatedToCar } %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

        </div>
    </div>
</div>

<!-- Footer start -->
    {% include "bundles/footer.html.twig" %}
<!-- Footer end -->

{% endblock %}