{% extends 'base.html.twig' %}

{% block title %}WWM{% endblock %}

{% block body %}
<!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
<!-- Sidenav end -->

<!-- Sub banner start -->
    {% include "bundles/sub_banner.html.twig"  with { 'MenuSection': 'Каталог авто' } %}
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-left">
                    <!-- Advanced search start -->
                    {% include "bundles/advanced_search_box.html.twig"  with { 'CarsItem': CarsItem, 'page':'car-listing' }  %}
                    <!-- Recent posts start -->
                        {% include "bundles/recent-post.html.twig" with { 'RecentСars': RecentСars } %}
                    <!-- Posts By Category Start -->
                    <!-- Question start -->
                    <div class="widget question widget-3">
                        {% include "bundles/questions.html.twig" %}
                    </div>
                    <!-- Question end -->
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <!-- Option bar start -->
                <div class="option-bar clearfix">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <div class="sorting-options2">
                                <h5>{{ PaginationText }}</h5>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <div class="sorting-options float-right">
                                <a href="{{ path('carListLeftSidebar', {'offset': '0' }) }}" class="change-view-btn float-right"><i class="fa fa-th-list"></i></a>
                                <a href="{{ path('carListing', {'offset': '0' }) }}" class="change-view-btn active-view-btn float-right"><i class="fa fa-th-large"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content-area" class="row">
                    {% for Car in Cars %}
                        {% include "bundles/car_box/listing.html.twig" with { 'Car': Car } %}
                    {% endfor %}
                </div>

                <div class="pagination-box text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% for PageNum in Pagination %}
                            {% if PageNum == Offset %}
                                <li class="page-item"><a class="page-link active" href="{{ path('carListing', {'offset': PageNum }) }}">{{ PageNum+1 }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ path('carListing', {'offset': PageNum }) }}">{{ PageNum+1 }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Footer start -->
    {% include "bundles/footer.html.twig" %}
<!-- Footer end -->

<!-- Full Page Search -->


<!-- Car Overview Modal -->

{% endblock %}