<div class="car-box-2" >
    <div class="row">
        <div class="col-lg-5 col-md-5 col-pad">
            <a href="{{ path('carDetails', {'id': Car.getId }) }}" class="car-img">
                <div class="car-thumbnail">
                    <div class="for">{{ Car.getType }}</div>
                    <div class="price-box">

                        <br>
                        <span>{{ (Car.getPrice == 0) ? 'Цену уточняйте' : '$'~Car.getPrice }}</span>
                    </div>
                    {% if Car.getImages is empty %}
                        <img class="d-block w-100" src="{{ asset('img/car/car-1.png') }}" alt="car">
                    {% elseif Car.getAvatar != null %}
                        <img class="d-block w-100"  src="{{ asset(upload_images_dir ~ '/' ~ Car.getAvatar.getImage) }}" alt="{{ Car.getAvatar.Image }}" />
                    {% else %}
                        <img class="d-block w-100"  src="{{ asset(upload_images_dir ~ '/' ~ Car.getImages[0].getImage) }}" alt="{{ Car.getImages[0].Image }}" />
                    {% endif %}
                </div>
            </a>
        </div>
        <div class="col-lg-7 col-md-7 col-pad align-self-center">
            <div class="detail">
                <h3 class="title">
                    <a href="{{ path('carDetails', {'id': Car.getId }) }}">{{ Car.getBrand }} {{ Car.getModel }} {{ Car.getEquipment }}</a>
                </h3>
                <ul class="custom-list">
                    <li>
                        <a href="#">{{ Car.getBrand }}</a> /
                    </li>
                    <li>
                        <a href="#">{{ Car.getType }}</a>
                    </li>
                </ul>
                <ul class="facilities-list clearfix">
                    <li>
                        <i class="flaticon-way"></i> {{ Car.getWay }} km
                    </li>
                    <li>
                        <i class="flaticon-calendar-1"></i> {{ Car.getYear }}
                    </li>
                    <li>
                        <i class="flaticon-fuel"></i> {{ Car.getFuel }}
                    </li>
                    <li>
                        <i class="flaticon-car"></i> {{ Car.getEquipment }}
                    </li>
                    <li>
                        <i class="flaticon-gear"></i> {{ Car.getColor }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>