<div class="media mb-4">
    <a class="pr-3" href="{{ path('carDetails', {'id': Car.getId }) }}">
        {% if Car.getImages is empty %}
            <img class="media-object" src="{{ asset('img/car/small-car-3.png') }}" alt="small-car">
        {% elseif Car.getAvatar != null %}
            <img class="media-object" src="{{ asset(upload_images_dir ~ '/' ~ Car.getAvatar.getImage) }}" alt="{{ Car.getAvatar.Image }}" alt="small-car" >
        {% else %}
            <img class="media-object" src="{{ asset(upload_images_dir ~ '/' ~ Car.getImages[0].getImage) }}" alt="{{ Car.getImages[0].Image }}" alt="small-car" >
        {% endif %}
    </a>
    <div class="media-body align-self-center">
        <h5>
            <a href="{{ path('carDetails', {'id': Car.getId }) }}">{{ Car.getBrand }} {{ Car.getModel }}</a>
        </h5>
        <div class="listing-post-meta">
            {{ (Car.getPrice == 0) ? 'Цену уточняйте' : '$'~Car.getPrice }} | <a><i class="fa fa-calendar"></i> {{ Car.getCreatedAt().format('F j, Y') }}</a>
        </div>
    </div>
</div>