<div class="col-6 col-md-3" title="{{ Car.getBrand }} {{ Car.getModel }}">
    <a href="{{ path('carDetails', {'id': Car.getId }) }}">
        {% if Car.getImages is empty %}
            <img width="100%" height="80%"  src="{{ asset('img/car/small-car-3.png') }}" alt="small-car">
            <div class="carousel-caption">
                <h5>{{ Car.getBrand }}</h5>
                <p style="color: whitesmoke">{{ Car.getModel }}</p>
            </div>
        {% elseif Car.getAvatar != null %}
            <img  width="100%" height="80%"   src="{{ asset(upload_images_dir ~ '/' ~ Car.getAvatar.getImage) }}" alt="{{ Car.getAvatar.Image }}" alt="small-car" >
            <div class="carousel-caption">
                <h5>{{ Car.getBrand }}</h5>
                <p style="color: whitesmoke">{{ Car.getModel }}</p>
            </div>
        {% else %}
            <img width="100%" height="80%"   src="{{ asset(upload_images_dir ~ '/' ~ Car.getImages[0].getImage) }}" alt="{{ Car.getImages[0].Image }}" alt="small-car" >
            <div class="carousel-caption">
                <h5>{{ Car.getBrand }}</h5>
                <p style="color: whitesmoke">{{ Car.getModel }}</p>
            </div>
        {% endif %}
    </a>
</div>