{% extends 'base.html.twig' %}

{% block title %}Обзоры{% endblock %}

{% block body %}
    <!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
    <!-- Sidenav end -->

    <!-- Banner start -->
    {% include "bundles/sub_banner.html.twig" with { 'MenuSection': 'Обзоры' } %}
    <!-- Banner end -->

    <div class="container">
            {% for Video in Videos %}
                {% if loop.index0 == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col" style="padding: 1%">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ Video.getUrl|replace({'watch?v=': 'embed/'}) }}" allowfullscreen></iframe>
                    </div>
                </div>
                {% if loop.index%2 == 0 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            {% if Videos  is not empty %}
                    </div>
            {% endif %}
    </div>

    <!-- Footer start -->
    {% include "bundles/footer.html.twig" %}
    <!-- Footer end -->
{% endblock %}