{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
<!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
<!-- Sidenav end -->

<!-- Banner start -->
    {% include "bundles/sub_banner.html.twig" with { 'MenuSection': 'О нас' } %}
<!-- Banner end -->

{% set strBannersUs = render(controller('App\\Controller\\BannerController::findByPlace', {'place':'about_us'})) %}
{% set bannersUs = strBannersUs|split(';;') %}
{% set sizeUs = strBannersUs | length %}
<!-- About car start -->
<div class="about-car">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="simple-slider">
                    <div id="carousel-header" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                    {% if sizeUs == 0 %}
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ asset('img/img-6.png') }}" alt="about">
                            </div>
                    {% else %}
                            {% for banner in bannersUs %}
                                <div class="carousel-item {{ (loop.index0 == 0) ? 'active' : '' }}">
                                    <img class="d-block w-100" src="{{ asset(upload_images_dir ~ '/' ~ banner) }}" alt="about">
                                </div>
                            {% endfor %}
                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <h3>ПОЧЕМУ МЫ:</h3>
                    <p class="mb-0">– Компания WWM с 2018 года занимается покупкой и доставкой любых автотранспортных средств на территории США и Канады🇺🇸 с дальнейшим логистическим и таможенным сопровождением.
                    <p class="mb-0">– С 2021 года занимаемся покупкой авто из Китая.
                    <p class="mb-0">– Электромобили - это престиж, скорость, экономичность и экологичность. Инновационный транспорт набирает популярность во всех странах. Китайские электромобили завоевывают рынок всего мира.
                    <p class="mb-0">- Наше решение заняться перспективным направлением было правильным. Машины на электричестве становятся лидерами. Будущее уже здесь!
                    <p class="mb-0">- Три представителя по Китаю,более 15 прямых поставщиков(Пекин,Шанхай,Ханжоу)
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About car end -->

<!-- Footer start -->
    {% include "bundles/footer.html.twig" %}
<!-- Footer end -->
{% endblock %}
