{% extends 'base.html.twig' %}

{% block title %}О Нас{% endblock %}

{% block body %}
<!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
<!-- Sidenav end -->

<!-- Banner start -->
    {% include "bundles/sub_banner.html.twig" with { 'MenuSection': 'Контакты' } %}
<!-- Banner end -->

<!-- Contact 2 start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Связаться с нами</h1>
            <p>Так же пишите нам в соц сетях</p>
        </div>
        <form>
            <div class="row">
                <div class="col">
                    <div class="contact-info-2">
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-phone"></i>
                            </div>
                            <div class="detail">
                                <h5>Phone:</h5>
                                <p><a target="_blank" href="tel:+380 98 349 18 16">+380 98 349 18 16</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-mail"></i>
                            </div>
                            <div class="detail">
                                <h5>Email:</h5>
                                <p><a target="_blank" href="mailto:corporate.wwm.cars@gmail.com">corporate.wwm.cars@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-earth"></i>
                            </div>
                            <div class="detail">
                                <h5>Location:</h5>
                                <p><a target="_blank" href="https://goo.gl/maps/K95Un2NAwGr5T9Zq9">г. Днепр, ул. Глинки 1, оф. 301</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-info-2">
                        <div class="widget question widget-3" style="padding: unset">
                            <div class="social-list clearfix">
                                <ul><li><a target="_blank" href="https://www.facebook.com/wwmcars/" class="facebook-bg"><i class="fa fa-facebook"></i><a style="color: black; margin-left: 10px">Facebook</a></a></li></ul>
                                <br>
                                <ul><li><a target="_blank" href="https://t.me/wwmcars" class="twitter-bg"><i class="fa fa-telegram"></i><a style="color: black; margin-left: 10px">Telegram</a></a></li></ul>
                                <br>
                                <ul><li><a target="_blank" href="https://instagram.com/wwm_cars?utm_medium=copy_link" class="instagram-bg"><i class="fa fa-instagram"></i><a style="color: black; margin-left: 10px">Instagram</a></a></li></ul>
                                <br>
                                <ul><li><a target="_blank" href="https://invite.viber.com/?g2=AQAcgM2dm063205lkEFOc%2FoGMoBnFZmHFRznb2NjAHqkCK3uO6bL%2FYiG9jSNm9Up" class="viber-bg"><i class="fa fa-viber"></i><a style="color: black; margin-left: 10px">Viber</a></a></li></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->

    <!-- Footer start -->
    {% include "bundles/footer.html.twig" %}
    <!-- Footer end -->
{% endblock %}