<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            <!-- External CSS libraries -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-submenu.css') }}">

            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-select.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/magnific-popup.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('fonts/linearicons/style.css') }}">
            <link rel="stylesheet" type="text/css"  href="{{ asset('css/jquery.mCustomScrollbar.css') }}">
            <link rel="stylesheet" type="text/css"  href="{{ asset('css/dropzone.css') }}">

            <link rel="stylesheet" type="text/css"  href="{{ asset('css/select2.min.css') }}">
            <link rel="stylesheet" type="text/css"  href="{{ asset('css/lightbox.min.css') }}">
            <link rel="stylesheet" type="text/css"  href="{{ asset('css/jnoty.css') }}">

            <!-- Custom stylesheet -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/sidebar.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" type="text/css" id="style_sheet" href="{{ asset('css/skins/' ~ Theme ~ '.css') }}">
            <link rel="stylesheet" type="text/css"  href="{{ asset('css/slick.css') }}">
            <link rel="stylesheet" type="text/css"  href="{{ asset('css/slick-theme.css') }}">
        {% endblock %}

        <!-- Favicon icon -->
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" >

        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700%7CUbuntu:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/ie10-viewport-bug-workaround.css') }}">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script  src="{{ asset('js/html5shiv.min.js') }}"></script>
        <script  src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
    </head>
    <body onload="setDefaultOptions()">
        <div class="page_loader"></div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.0.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script  src="{{ asset('js/bootstrap-submenu.js') }}"></script>
            <script  src="{{ asset('js/rangeslider.js') }}"></script>
            <script  src="{{ asset('js/jquery.mb.YTPlayer.js') }}"></script>
            <script  src="{{ asset('js/bootstrap-select.min.js') }}"></script>
            <script  src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
            <script  src="{{ asset('js/jquery.scrollUp.js') }}"></script>
            <script  src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
            <script  src="{{ asset('js/dropzone.js') }}"></script>
            <script  src="{{ asset('js/select2.min.js') }}"></script>
            <script  src="{{ asset('js/jquery.filterizr.js') }}"></script>
            <script  src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <script  src="{{ asset('js/jquery.countdown.js') }}"></script>
            <script  src="{{ asset('js/jquery.mousewheel.min.js') }}"></script>
            <script  src="{{ asset('js/lightgallery-all.js') }}"></script>
            <script  src="{{ asset('js/jnoty.js') }}"></script>
            <script  src="{{ asset('js/sidebar.js') }}"></script>
            <script  src="{{ asset('js/app.js') }}"></script>
            <script  src="{{ asset('js/new/func.js') }}"></script>
            <script  src="{{ asset('js/new/htmlFunc.js') }}"></script>
            <script  src="{{ asset('js/slick.js') }}"></script>

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script  src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>

            <!-- Custom javascript -->
            <script  src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
        {% endblock %}
        <div class="fixed-bottom" style="bottom:5%;">
            <a target="_blank" href="https://t.me/ValikReznikov">
                <img class="bottom-messager" src="/img/icon-telegram.png">
            </a>
            <span class="badge badge-light"><a  target="_blank" href="https://t.me/ValikReznikov" class="bottom-text-messager">Написать нам</a></span>
        </div>

    </body>
</html>
