<div class="widget advanced-search2">
    <h3 class="sidebar-title">Search Cars</h3>
    <div class="s-border"></div>
    <div class="m-border"></div>
    <div>
        <div class="form-group">
            <select class="form-control" id="brand" onchange="changeModel({{ CarsItem['cars_names']|json_encode() }});"  >
                <option class= selected>Марка</option>
                {% for Brand, Models in CarsItem['cars_names'] %}
                    <option  value="{{ Brand }}">{{ Brand }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="model"  disabled>
                <option selected>Модель</option>
            </select>
        </div>
        <div class="form-group">
            <select id="body_type" class="form-control" >
                <option>Кузов</option>
                {% for bodyType, val in CarsItem['body_type'] %}
                    <option  value="{{ bodyType }}">{{ bodyType }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select id="transmission" class="form-control">
                <option>Трансмиссия</option>
                {% for transmission, val in CarsItem['transmission'] %}
                    <option  value="{{ transmission }}">{{ transmission }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select id="type" class="form-control">
                <option>Состояние</option>
                {% for type, val in CarsItem['type'] %}
                    <option  value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="range-slider clearfix">
            <label>Цена</label>
            <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group mb-0">
            <button id="button-search" value="{{ page }}" class="search-button btn" onclick="advancedSearchBox({{ CarsItem|json_encode() }});">Поиск</button>
        </div>
    </div>
</div>