<!-- Footer start -->
{% set banner = render(controller('App\\Controller\\BannerController::findOneByPlace', {'place':'footer_banner'})) %}
{% set logoFooter = render(controller('App\\Controller\\BannerController::findOneByPlace', {'place':'footer_logo'})) %}
{% if banner == null %}
    <footer class="footer overview-bgi">
{% else %}
    <footer class="footer overview-bgi" style="background-image: url('{{ asset(upload_images_dir ~ '/' ~ banner) }}')">
{% endif %}

    <div class="container footer-inner">
        <div class="row">
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    {% if logoFooter == null %}
                        <img src="{{ asset('img/logos/logo.png') }}" alt="logo" class="f-logo">
                    {% else %}
                        <img src="{{ asset(upload_images_dir ~ '/' ~ logoFooter) }}" alt="logo" class="f-logo">
                    {% endif %}
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <div class="text">
                        <P>С 2021 года занимаемся покупкой авто из Китая
                            -три представителя по Китаю,более 15 прямых поставщиков(Пекин,Шанхай,Ханжоу)
                            Одним из направлений компании является пригон и продажа электромобилей из Китая. Максимальный пробег на одном заряде у них значительно превышает пробеги аналогичных электромобилей из Европы и Японии.</P>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-item clearfix">
                    <h4>
                        Контактная информация
                    </h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="contact-info">
                        <li>

                            <a href="https://goo.gl/maps/K95Un2NAwGr5T9Zq9"><i class="flaticon-pin"></i>г. Днепр, ул. Глинки 1, оф. 301</a>
                        </li>
                        <li>
                            <i class="flaticon-mail"></i><a href="mailto:corporate.wwm.cars@gmail.com">corporate.wwm.cars@gmail.com</a>
                        </li>
                        <li>
                            <i class="flaticon-phone"></i><a href="tel:+380 98 349 18 16">+380 98 349 18 16</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copy">© 2021 All Rights Reserved.</p>
                </div>
                <div class="col-lg-6">
                    <div class="social-list-2">
                        <ul>
                            <li><a target="_blank" href="https://www.facebook.com/wwmcars/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://t.me/wwmcars" class="twitter-bg"><i class="fa fa-telegram"></i></a></li>
                            <li><a target="_blank" href="https://instagram.com/wwm_cars?utm_medium=copy_link" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://invite.viber.com/?g2=AQAcgM2dm063205lkEFOc%2FoGMoBnFZmHFRznb2NjAHqkCK3uO6bL%2FYiG9jSNm9Up" class="viber-bg"><i class="fa fa-viber"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->