<div class="search-box-2">
    <div class="container">
        <div class="row">
            <form class="input-group flex-nowrap" action="{{ path('search') }}" method="post">
                <div class="input-group input-group-lg">
                    <input  name="search_data" type="text" class="form-control" required placeholder="Введите марку или модель">
                    <div class="input-group-prepend">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
