
    <h5 class="sidebar-title">Есть вопросы?</h5>
    <div class="s-border"></div>
    <div class="m-border"></div>
    <ul class="contact-info">
        <li>
            <i class="flaticon-pin"></i>
            <a href="https://goo.gl/maps/K95Un2NAwGr5T9Zq9">г. Днепр, ул. Глинки 1, оф. 301</a>
        </li>
        <li>
            <i class="flaticon-mail"></i><a href="mailto:corporate.wwm.cars@gmail.com">corporate.wwm.cars@gmail.com</a>
        </li>
        <li>
            <i class="flaticon-phone"></i><a href="tel:+380 98 349 18 16">+380 98 349 18 16</a>
        </li>
    </ul>
    <div class="social-list clearfix">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/wwmcars/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://t.me/wwmcars" class="twitter-bg"><i class="fa fa-telegram"></i></a></li>
            <li><a target="_blank" href="https://instagram.com/wwm_cars?utm_medium=copy_link" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://invite.viber.com/?g2=AQAcgM2dm063205lkEFOc%2FoGMoBnFZmHFRznb2NjAHqkCK3uO6bL%2FYiG9jSNm9Up" class="viber-bg"><i class="fa fa-viber"></i></a></li>
        </ul>
    </div>