<div class="widget recent-posts">
    <h3 class="sidebar-title">Недавно опубликованные</h3>
    <div class="s-border"></div>
    <div class="m-border"></div>
    {% for Car in RecentСars %}
    {% include "bundles/car_box/recent.html.twig" with { 'Car': Car } %}
    {% endfor %}
</div>