<!-- Search box 2 start -->
<div  id="col-model" class="search-box-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inline-search-area">
                    <div class="form-row">
                        <div  class="col-xl col-lg-2 col-md-6 col-sm-6 col-6">
                            <select id="brand" onchange="changeModel({{ CarsItem['cars_names']|json_encode() }});"  class="form-control form-control-lg" name="select-brand">
                                <option selected>Марка</option>
                                {% for Brand, Models in CarsItem['cars_names'] %}
                                    <option  value="{{ Brand }}">{{ Brand }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl col-lg-2 col-md-6 col-sm-6 col-6">
                            <select id="model" class="form-control form-control-lg"  name="select-make" disabled>
                                <option selected>Модель</option>
                            </select>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                            <input id="min-price" type="number" class="form-control form-control-lg" name="select-type" pattern="[0-9]{6}" placeholder="цена(min)" />
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                            <input id="max-price" type="number" class="form-control form-control-lg" name="select-type" pattern="[0-9]{6}" placeholder="цена(max)" />
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                            <button class="btn white-btn btn-block btn-lg" onclick="searchBox({{ CarsItem['cars_names']|json_encode() }});">
                                <i class="fa fa-search"></i><strong style="color: white">Поиск</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search box 2 end -->