<style>
    @media (min-width: 769px) {
        .show-phone-header {
            display: none;
        }
    }
    </style>
{% set logoHeader = render(controller('App\\Controller\\BannerController::findOneByPlace', {'place':'header_logo'})) %}
<header class="top-header bg-active" id="top-header-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:+380 98 349 18 16"><i class="fa fa-phone"></i>Need Support? +380 98 349 18 16</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    <li>
                        {% if app.user %}
                            <span>{{ app.user.email }}</span>
                        {% else %}
                            <a href="{{ path('login') }}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}" class="sign-in"><i class="fa fa-sign-out"></i> Logout</a>
                        {% else %}
                            <a href="{{ path('register') }}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<header class="main-header sticky-header sh-2">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" id="drawer">
                <span class="fa fa-bars"></span>
            </button>
            <div class="media show-phone-header">
                <i class="flaticon-phone"></i>
                <div class="media-body">
                    <a href="tel:+380 98 349 18 16">+380 98 349 18 16</a>
                </div>
            </div>
            <a class="navbar-brand company-logo-2" href="{{ path('homepage') }}">
                {% if logoHeader == null %}
                    <img src="{{ asset('img/logos/black-logo.png') }}" alt="logo">
                {% else %}
                    <img src="{{ asset(upload_images_dir ~ '/' ~ logoHeader) }}" alt="logo">
                {% endif %}
            </a>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link" href="{{ path('homepage') }}">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{ path('carListing', {'offset': '0' }) }}">Каталог авто</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{ path('review') }}">Обзоры</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{ path('aboutUs') }}">О Нас</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{ path('contact') }}">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- Sidenav start -->
<nav id="sidebar" class="nav-sidebar">
    <!-- Close btn-->
    <div id="dismiss">
        <i class="fa fa-close"></i>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <a href="{{ path('homepage') }}">
                {% if logoHeader == null %}
                    <img src="{{ asset('img/logos/black-logo.png') }}" alt="logo">
                {% else %}
                    <img src="{{ asset(upload_images_dir ~ '/' ~ logoHeader) }}" alt="logo">
                {% endif %}
            </a>
        </div>
        <div class="sidebar-navigation">
            <h3 class="heading">Меню</h3>
            <ul class="menu-list">
                <li><a href="{{ path('homepage') }}" class="active pt0">Главная<em class="fa fa-chevron-down"></em></a></li>
                <li><a href="{{ path('carListing', {'offset': '0' }) }}">Каталог авто<em class="fa fa-chevron-down"></em></a></li>
                <li><a href="{{ path('review') }}">Обзоры<em class="fa fa-chevron-down"></em></a></li>
                <li><a href="{{ path('aboutUs') }}">О Нас<em class="fa fa-chevron-down"></em></a></li>
                <li><a href="{{ path('contact') }}" class="pt0">Контакты<em class="fa fa-chevron-down"></em></a></li>
                <li>
                    {% if app.user %}
                        <span>{{ app.user.email }}</span>
                    {% else %}
                        <a href="{{ path('login') }}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                    {% endif %}
                </li>
                <li>
                    {% if app.user %}
                        <a href="{{ path('logout') }}" class="sign-in"><i class="fa fa-sign-out"></i> Logout</a>
                    {% else %}
                        <a href="{{ path('register') }}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="get-in-touch">
            <h3 class="heading">Связаться</h3>
            <div class="media">
                <i class="flaticon-phone"></i>
                <div class="media-body">
                    <a href="tel:+380 98 349 18 16">+380 98 349 18 16</a>
                </div>
            </div>
            <div class="media">
                <i class="flaticon-mail"></i>
                <div class="media-body">
                    <a href="mailto:corporate.wwm.cars@gmail.com">corporate.wwm.cars@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="get-social">
            <h3 class="heading">Get Social</h3>
            <a target="_blank" href="https://www.facebook.com/wwmcars/" class="facebook-bg"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://t.me/wwmcars" class="twitter-bg"><i class="fa fa-telegram"></i></a>
            <a target="_blank" href="https://instagram.com/wwm_cars?utm_medium=copy_link" class="instagram-bg"><i class="fa fa-instagram"></i></a>
            <a target="_blank" href="https://invite.viber.com/?g2=AQAcgM2dm063205lkEFOc%2FoGMoBnFZmHFRznb2NjAHqkCK3uO6bL%2FYiG9jSNm9Up" class="viber-bg"><i class="fa fa-viber"></i></a>
        </div>
    </div>
</nav>
<!-- Sidenav end -->