{% set strBanners = render(controller('App\\Controller\\BannerController::findByPlace', {'place':'header_banner'})) %}
{% set banners = strBanners|split(';;') %}
{% set size = strBanners | length %}

<div id="carousel-header" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% if size == 0 %}
            <div class="carousel-item active">
                <div class="sub-banner">
                    <div class="container breadcrumb-area">
                        <div class="breadcrumb-areas">
                            <h1>World wide machinery</h1>
                            <ul class="breadcrumbs">
                                <li><a href="{{ path('homepage') }}">Главная</a></li>
                                <li class="active">{{ MenuSection }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% for banner in banners %}
                <div class="carousel-item {{ (loop.index0 == 0) ? 'active' : '' }}">
                    <div class="sub-banner" style="background-image: url('{{ asset(upload_images_dir ~ '/' ~ banner) }}')">
                        <div class="container breadcrumb-area">
                            <div class="breadcrumb-areas">
                                <h1>World wide machinery</h1>
                                <ul class="breadcrumbs">
                                    <li><a href="{{ path('homepage') }}">Главная</a></li>
                                    <li class="active">{{ MenuSection }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>