{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}

<!-- Sidenav start -->
    {% include "bundles/sidebar.html.twig" %}
    {% set strBanners = render(controller('App\\Controller\\BannerController::findByPlace', {'place':'header_banner'})) %}
    {% set banners = strBanners|split(';;') %}
    {% set size = strBanners | length %}
    {% set logoFooter = render(controller('App\\Controller\\BannerController::findOneByPlace', {'place':'footer_logo'})) %}
<!-- Sidenav end -->

<!-- Contact section start -->
<div class="contact-section">
    <div class="container">
        <div class="row login-box">
            <div class="col-lg-6 align-self-center pad-0">


                {% block auth_form %}{% endblock %}


            </div>
            {% if size == 0 %}
                <div class="col-lg-6 align-self-center pad-0 bg-img">
            {% else %}
                <div class="col-lg-6 align-self-center pad-0 bg-img" style="background-image: url('{{ asset(upload_images_dir ~ '/' ~ banners[0]) }}')">
            {% endif %}
                <div class="info clearfix">
                    <div class="logo-2">
                        <a href="{{ path('homepage') }}">
                            {% if logoFooter == null %}
                                <img src="{{ asset('img/logos/logo.png') }}" alt="logo" class="f-logo">
                            {% else %}
                                <img src="{{ asset(upload_images_dir ~ '/' ~ logoFooter) }}" alt="logo" class="f-logo">
                            {% endif %}
                        </a>
                    </div>
                    <h3>World wide machinery</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="{{ path('homepage') }}">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>
{% endblock %}