{% extends 'auth/baseAuth.html.twig' %}
{% set logoHeader = render(controller('App\\Controller\\BannerController::findOneByPlace', {'place':'header_logo'})) %}
{% block auth_form %}
    <div class="form-section clearfix">
        <div class="logo-2 logo-3">
            <a href="{{ path('homepage') }}">
                {% if logoHeader == null %}
                    <img src="{{ asset('img/logos/black-logo.png') }}" alt="logo">
                {% else %}
                    <img src="{{ asset(upload_images_dir ~ '/' ~ logoHeader) }}" alt="logo">
                {% endif %}
            </a>
        </div>
        <h3>Recover your password</h3>
        <div class="clearfix"></div>
        <form action="#" method="GET">
            <div class="form-group form-box clearfix">
                <input type="password" name="Password" class="input-text" placeholder="Email Address">
            </div>
            <div class="form-group clearfix mb-0">
                <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
            </div>
        </form>
    </div>
{% endblock %}
