{% extends 'auth/baseAuth.html.twig' %}
{% set logoHeader = render(controller('App\\Controller\\BannerController::findOneByPlace', {'place':'header_logo'})) %}
{% block auth_form %}
    {% if error %}
        <div class="alert-fixed">
            <div class="alert alert-danger mb-0" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}

    <div class="form-section align-self-center">
        <div class="logo-2 logo-3">
            <a href="{{ path('homepage') }}">
                {% if logoHeader == null %}
                    <img src="{{ asset('img/logos/black-logo.png') }}" alt="logo">
                {% else %}
                    <img src="{{ asset(upload_images_dir ~ '/' ~ logoHeader) }}" alt="logo">
                {% endif %}
            </a>
        </div>
        <h3>Sign into your account</h3>
        <div class="btn-section clearfix">
            <a href="{{ path('login') }}" class="link-btn active btn-1 active-bg">Login</a>
            <a href="{{ path('register') }}" class="link-btn btn-2 default-bg">Register</a>
        </div>
        <div class="clearfix"></div>
        <form action="{{ path('login') }}" method="post">
            <div class="form-group form-box">
                <input type="email" id="username" name="_username" class="input-text" placeholder="Email Address" value="{{ last_username }}">
            </div>
            <div class="form-group form-box clearfix">
                <input type="password" id="password" name="_password" class="input-text" placeholder="Password">
            </div>
            <div class="form-group clearfix mb-0">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn-md btn-theme btn float-left">Login</button>
                <a href="{{ path('forgotPassword') }}" class="forgot-password">Forgot Password</a>
            </div>
        </form>
    </div>
{% endblock %}