{% extends 'auth/baseAuth.html.twig' %}
{% set logoHeader = render(controller('App\\Controller\\BannerController::findOneByPlace', {'place':'header_logo'})) %}
{% block auth_form %}
    <div class="alert-fixed d-none" id="my-alert-block"></div>

    <div class="form-section clearfix">
        <div class="logo-2 logo-3">
            <a href="{{ path('homepage') }}">
                {% if logoHeader == null %}
                    <img src="{{ asset('img/logos/black-logo.png') }}" alt="logo">
                {% else %}
                    <img src="{{ asset(upload_images_dir ~ '/' ~ logoHeader) }}" alt="logo">
                {% endif %}
            </a>
        </div>
        <h3>Create an account</h3>
        <div class="btn-section clearfix">
            <a href="{{ path('login') }}" class="link-btn active btn-1 default-bg">Login</a>
            <a href="{{ path('register') }}" class="link-btn btn-2 active-bg">Register</a>
        </div>
        <div class="clearfix"></div>
        <form action="{{ path('register_save') }}" method="POST" id="register">
            <div class="form-group form-box">
                <input type="text" name="fullName" class="input-text" placeholder="Full Name">
            </div>
            <div class="form-group form-box">
                <input type="email" name="username" class="input-text" placeholder="Email Address">
            </div>
            <div class="form-group form-box clearfix">
                <input type="password" name="password" class="input-text" placeholder="Password">
            </div>
            <div class="form-group clearfix mb-0">
                <button type="submit" class="btn-md btn-theme float-left">Register</button>
            </div>
        </form>
    </div>
{% endblock %}
