
.button-theme {
    background:#0dcdbd;
}

.button-theme:hover {
    background: #0aa587;
}

.btn-border {
    color: #fff;
    background: #0dcdbd;
    border: solid 1px #0dcdbd;
}

.contact-2 .ci-box .icon i{
    color: #0dcdbd;
}

.btn-border:hover{
    background: #0aa587;
    border: solid 1px #0aa587;
}

.blog-2 .b-btn{
    color: #0dcdbd;
}

#dismiss {
    color: #0dcdbd;
}

.sidebar-navigation .active {
    color: #0dcdbd;
}

.sidebar-navigation ul li a:hover {
    color: #0dcdbd;!important;
}

.service-info-2 .icon {
    color: #0dcdbd;
    border: dashed 1px #0dcdbd;
}

.blog-3 .b-btn{
    color: #0dcdbd;
}

.banner .banner-slider-inner .banner-content2 h2{
    color: #0dcdbd;
}

.our-newslatters-2 .inner::before {
    background: #0dcdbd;
}

.counters .counter-box h5 span{
    color: #0dcdbd;
}

.search-box-4{
    background: #0dcdbd;
}

.counters .counter-box i{
    color: #0dcdbd;
}

.car-box .facilities-list::before {
    background: #0dcdbd;
}

.about-slider-box:before {
    border: 2px solid #0dcdbd;
}

.car-box .footer .price{
    color: #0dcdbd;
}

.question .contact-info li i{
    color: #0dcdbd;
}

.price-box-2{
    color: #0dcdbd;
}

.car-box-3 .detail .title a{
    color: #0dcdbd;
}

.car-box-5 .facilities-list li i{
    color: #0dcdbd;
}

.car-box-3 .facilities-list li i{
    color: #0dcdbd;
}

.car-box .footer ul li a:hover{
    color: #0dcdbd;
}

.car-model-2 .ratings-2 span{
    background: #0dcdbd;
}

.car-box-3 .footer ul li a:hover{
    color: #0dcdbd;
}

.overlap-btn:hover{
    background: #0dcdbd;
    border: solid 1px #0dcdbd;
}

.overlap-btn.active {
    border: 1px solid #0dcdbd!important;
    background: #0dcdbd !important;
    color: #fff;
}

.car-box-2 .facilities-list li i{
    color: #0dcdbd;
}

.change-view-btn:hover {
    background: #0dcdbd;
    border: solid 1px #0dcdbd;
    color: #fff;
}

.car-model-2 .price-box .del-2 {
    color: #0dcdbd;
}

.change-view-btn {
    border-radius: 2px;
    border: solid 1px #0dcdbd;
    color: #0dcdbd;
}

.active-view-btn{
    background: #0dcdbd;
    border: solid 1px #0dcdbd;
    color: #fff;
}

.car-box-4 h5{
    color: #0dcdbd;
}

.blog-3 .post-meta a {
    color: #0dcdbd;
}

.sb-5 .search-area-inner{
    background:#0dcdbd;
}

.carousel-indicators .active {
    background-color: #0dcdbd;
}

.navbar-light .navbar-toggler{
    background: #0dcdbd;
}

.banner h4 {
    color: #0dcdbd;
}

.shop-info .price del {
    color: #0dcdbd;
}

.details-banner .cover-buttons ul li a:hover {
    background: #0dcdbd;
}

.text .ratings-box {
    background: #0dcdbd;
}

.dashboard-nav ul {
    border-bottom: 1px solid #0aa587;
}

.new-user-box .follow:hover{
    background:#0dcdbd;
    color: #fff;
}

.service-info-3 .icon{
    color:#0dcdbd;
}

.setting-button i{
    color:#0dcdbd;
}

#page_scroller {
    background:#0dcdbd;
}

.dashboard-nav{
    background:#0dcdbd;
}

.counter-box-1 h5 span{
    color: #0dcdbd;
}

.counter-box-1 i{
    color: #0dcdbd;
}

.counter-box-2:hover h2{
    color: #0dcdbd;
}

.blog-31:hover .facilities-list ul li i{
    color: #0dcdbd;
}

.car-box-4 .read-more-btn{
    color: #0dcdbd;
}

.car-box-4 .read-more-btn:hover{
    background: #0dcdbd;
    color: #fff;
}

.counter-box-3 h1{
    color: #0dcdbd;
}

.counter-box-3 .icon i{
    color: #0dcdbd;
}

.counter-box-3:hover .icon{
    background: #0dcdbd;
}

.counter-box-1:hover h1 {
    color: #0dcdbd;
}

.counter-box-1:hover h5 {
    color: #0dcdbd;
}

.counter-box-1:hover h5 span{
    color: #fff;
}

/** Tab box 2 start **/
.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px#0dcdbd;
    border-radius: 0;
    color:#0dcdbd;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background:#0dcdbd;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid#0dcdbd;
}

.main-header .dropdown-menu a:hover {
    color:#0dcdbd;
}

input[type=checkbox]:checked + label:before {
    color:#0dcdbd;
}

.testimonial-3 .carousel-indicators li.active {
    background: #0dcdbd;
}

.testimonial-2 .testimonial-info-box::before {
    background-color: #0dcdbd;
}

.testimonial-2 .testimonial-info-box h6{
    color: #0dcdbd;
}

.service-info-2::before {
    background: #0dcdbd;
}

.blog-1:hover .date-box span{
    color: #0dcdbd;
}

.blog-1:hover .date-box{
    color: #0dcdbd;
}

.blog-1 .blog-image::before {
    background: #0dcdbd;
}

.blog-1 .blog-image::after {
    background: #0dcdbd;
}

.blog-1 .date-box {
    background: #0dcdbd;
}

.blog-1 .date-box::after {
    border-right: 10px solid #0dcdbd;
}

.single-info:before {
    background-color: #0dcdbd;
}

.single-info .icon i {
    color: #0dcdbd;
}

.service-info-3:hover h5 a{
    color: #0dcdbd;
}

.blog-3:hover .date-box-2{
    background: #0dcdbd;
}

.blog-3:hover .post-meta{
    background: #0dcdbd;
}

.blog-3 .blog-image::before {
    background: #0dcdbd;
}

.blog-3 .blog-image::after {
    background: #0dcdbd;
}


.single-info:hover h2 a{
    color: #0dcdbd;
}

.testimonial-3 .testimonial-item-new .author-img .icon {
    background: #0dcdbd;
}

.testimonial-3 .testimonial-item-new .left-line::before {
    background: #0dcdbd;
}

.testimonial-3 .testimonial-item-new .author-content h5 .desig {
    color: #0dcdbd;
}

.testimonial-4 .testimonial-info .user-section:before {
    background: #0dcdbd;
}

.testimonial-4 .testimonial-info .icon {
    background: #0dcdbd;
}

.banner-bg-color{
    background:#0dcdbd;
}

.btn-theme{
    background:#0dcdbd;
    border: solid 1px#0dcdbd;
}

.featured-car-4 .carousel-indicators li.active {
    background: #0dcdbd;
}

.btn-theme:hover{
    background: #0aa587;
    border: solid 1px #0aa587;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background:#0dcdbd;
    border: solid 2px#0dcdbd;
}

.car-amenities ul li i {
    color:#0dcdbd;
}

.blog-2 h3 a{
    color:#0dcdbd;
}

.border-button-theme {
    color:#0dcdbd;
    border: 2px solid#0dcdbd;
}

.banner-detail-box .red-box {
    background:#0dcdbd url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color:#0dcdbd;
}

.banner-detail-box .white-box .slide-location::after {
    background-color:#0dcdbd;
}

.search-options-btn, .search-options-btn:hover {
    background:#0dcdbd;
}

.search-button {
    background:#0dcdbd;
}

.intro-section {
    background:#0dcdbd;
}

.search-button:hover {
    color: #fff;
    background: #0aa587;
}

.popular .price-for-user{
    color: #0dcdbd;
}

.popular .price-for-user .price .dolar {
    color: #0dcdbd!important;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color:#0dcdbd;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color:#0dcdbd;
}

.bootstrap-select .dropdown-menu li a:hover .text {
    color:#0dcdbd;
}

.tag {
    background:#0dcdbd;
}

.view-all ul li a:hover{
    background: #0dcdbd;
    color: #fff;
}

.tag::after {
    border-left: 10px solid#0dcdbd;
}

.recent-properties-box .detail header::after {
    background-color:#0dcdbd;
}

.car-box .detail .title a {
    color:#0dcdbd;
}

footer .footer-item .contact-info li label a:hover {
    color:#0dcdbd;
}

.service-info .icon i{
    color:#0dcdbd;
}

.service-box .heading .title h4 a:hover {
    color:#0dcdbd;
}

.main-header .form-inline .submit {
    border: solid 1px#0dcdbd;
    color:#0dcdbd;
}

.main-header .form-inline .submit:hover {
    border: solid 1px#0dcdbd;
    background:#0dcdbd;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color:#0dcdbd;
}

.sh-3 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #515151;
}

.banner .banner-slider-inner h1 span{
    color:#0dcdbd;
}

/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color:#0dcdbd !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color:#0dcdbd;
}

.plan .price-header h1 {
    color:#0dcdbd;
}

.car-box-5 .detail h3 a{
    color:#0dcdbd;
}

.btn-outline {
    border: solid 1px#0dcdbd;
    color:#0dcdbd;
}

.btn-outline:hover {
    border: solid 1px #0aa587;
    background: #0aa587;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px#0dcdbd;
    color:#0dcdbd;
    font-weight: 600;
}

.heading-car-2 h3 span {
    color:#0dcdbd;
}

.btn-outline-2:hover {
    border: solid 2px #0aa587;
    background: #0aa587;
    color: #fff;
}

.footer .form-inline .btn{
    background:#0dcdbd;
    color: #fff;
}

.search-box-2{
    background:#0dcdbd;
}

.about-box .detail h3 {
    color:#0dcdbd;
}

li.active.filtr-button.filtr a{
    color:#0dcdbd;
}

.coming-soon-inner h1 span{
    color:#0dcdbd;
}

.filteriz-navigation li a:hover{
    color:#0dcdbd;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color:#0dcdbd;
}


.show-more-options i{
    color:#0dcdbd;
}

.pagination > li > .active {
    background:#0dcdbd;
}

.pagination > li > a:hover {
    background:#0dcdbd;
    color: #fff;
}

.contact-section .btn-section .active-bg {
    color:#0dcdbd;
}

.read-more {
    color:#0dcdbd;
}

.blog-3 .detail .post-meta span a i {
    color:#0dcdbd;
}

.range-slider .ui-slider .ui-slider-handle {
    background:#0dcdbd;
}

.our-agent-sidebar .carousel-indicators .active {
    background:#0dcdbd;
}

.counter-box-2 .icon{
    color: #0dcdbd;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid#0dcdbd;
}

.range-slider .ui-widget-header {
    background-color:#0dcdbd;
}

.main-header .navbar-expand-lg .navbar-nav .link-color {
    color:#0dcdbd;
    border: solid 1px#0dcdbd;
}

.main-header .navbar-expand-lg .navbar-nav .link-color:hover{
    color: #fff;
    border: solid 1px#0dcdbd;
    background:#0dcdbd;
}

.posts-by-category ul li a:hover {
    color:#0dcdbd;
}

.tags-box ul li a:hover {
    color:#fff;
    border: 1px solid #0dcdbd;
    background: #0dcdbd;
}

.latest-tweet a {
    color:#0dcdbd;
}

.blog-1 h3 a:hover{
    color:#0dcdbd;
}

.blog-tags a:hover {
    color:#fff;
    border: 1px solid #0dcdbd;
    background: #0dcdbd;
}

.car-box-5 .detail .title a {
    color:#0dcdbd;
}

.price-box-3 {
    color: #0dcdbd;
}

.vs{
    color: #0dcdbd;
}

.blog-1 .detail h4 a{
    color:#0dcdbd;
}

.leaflet-container a.leaflet-popup-close-button {
    color:#0dcdbd;
}

.breadcrumbs li a:hover {
    color:#0dcdbd;
}

.helping-center ul li i {
    color:#0dcdbd;
}

.my-account-box .title::after {
    background-color:#0dcdbd;
}

.breadcrumb-nav ul .active {
    color:#0dcdbd;
}

.photoUpload {
    background:#0dcdbd;
}

.typography-page mark.color {
    background-color:#0dcdbd;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color:#0dcdbd;
}

.dashboard-nav ul li span.nav-tag {
    color:#0dcdbd;
}

.comment-content h6 span a{
    color:#0dcdbd;
}

.comment-content h6 span a:hover{
    color: #0aa587;
}

.bg-active {
    background: #0dcdbd;
    color: #fff!important;
}

.banner h3 span{
    color: #0dcdbd;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color:#0dcdbd;
}

.shop-box .shop-box-details {
    background-color: #0dcdbd;
}

.numbered.color.filled ol > li::before {
    border: 1px solid#0dcdbd;
    background-color:#0dcdbd;
}

.numbered.color ol > li::before {
    border: 1px solid#0dcdbd;
    color:#0dcdbd;
}

.widget-link:hover {
    color:#0dcdbd;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background:#0dcdbd;
}

.car-box-2 .detail .title a {
    color:#0dcdbd;
}

.car-box .footer .price {
    color:#0dcdbd;
}

.pricing-1 .pricing-btn {
    border: solid 1px #0dcdbd;
    color: #0dcdbd;
}

.pricing-1:hover .pricing-btn {
    color: #0dcdbd;
}

.pricing-1::before {
    background: #0dcdbd;
}

.pricing-1 .plan-list ul li i{
    color: #0dcdbd;
}

.pricing-1 .plan-header .plan-price{
    color: #0dcdbd;
}

.car-box:hover .facilities-list ul li i{
    color: #0dcdbd;
}

.btn-3{
    background: #0dcdbd;
    border: 2px solid #0dcdbd;
}

.btn-3:hover {
    color: #0dcdbd!important;
    border: 2px solid #0dcdbd;
}

.btn-3:before {
    background: #0dcdbd;
}

.btn-4{
    color: #0dcdbd;
    border: 2px solid #0dcdbd;
}

.btn-4:before {
    background: #0dcdbd;
    border-color: #0dcdbd;
}

.btn-4 span{
    color: #0dcdbd;
}

.btn-5:after {
    background: #0aa587;
}

.btn-5 {
    background: #0dcdbd;
}

.car-box .detail .title a {
    color: #0dcdbd;
}

.car-box .car-image::before {
    background: #0dcdbd;
}

.car-box .car-image::after {
    background: #0dcdbd;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:#0dcdbd;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color:#0dcdbd;
}

.map-marker:hover {
    background-color:#0dcdbd;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color:#0dcdbd transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color:#0dcdbd;
}

.map-marker.featured:hover:before {
    border-color:#0dcdbd transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid#0dcdbd;
}

.marker-active .map-marker {
    background-color:#0dcdbd;
}

.marker-active .map-marker:before {
    border-color:#0dcdbd transparent transparent transparent;
}

.slick-arrow-buton:hover{
    background:#0dcdbd;
    color: #fff;
}

.map-properties .map-content h4 a {
    color:#0dcdbd;
}

.dropzone-design:hover {
    border: 2px dashed#0dcdbd;
}


@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color:#0dcdbd!important;
    }

    .car-model-2 .modal-header {
        background: #0dcdbd;
        padding: 20px 20px 10px;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color:#0dcdbd;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color:#0dcdbd !important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background:#0dcdbd;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color:#0dcdbd !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}